.text-primary  {
    color: #5FC7C7 !important;
} 
.text-primary_dark  {
     color: #1C2C43 ;
} 
.btn-primary{
    background-image:  linear-gradient(to right, #19D3AE , #0FCFEC)  !important;
    border-color:transparent  !important; 
    color: rgb(255, 255, 255) !important;
    transition: color 0.5s linear !important;
}
.btn-primary:hover{
     color: rgb(227, 226, 228) !important;
      background-image:  linear-gradient(to left, #19D3AE , #0FCFEC)  !important;
}