.make-appointment{
    height:420px;
    position:relative;
    background-image: url(../../../images/appointment.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 150px;
}
.make-appointment::before{
    height:100%;
    content:' ';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: .8 ;
    background-color: rgb(36, 41, 73);
}
.make-appointment img{
    height: 550px;
    transform: translateY(-130px);
    
} 